# List all the excludes for committing the code to Bitbucket ( version controller )
# -------------------------------------------------------------------------------
# Node Modules

node_modules/*

# Log files
*.log

# Swagger view files

views/swagger-api-view.json

# For Config remover
*.json
!config/*.json
