# List all the excludes for committing the code to Bitbucket ( version controller )
# -------------------------------------------------------------------------------
# Node Modules

node_modules/*

# Log files
*.log


